.hero, .right{
    width:100%;
    max-width:1300px;
    padding: 10px;
    margin-bottom: 10px auto 50px auto;
    /* margin-top: 10px; */
    /* height: calc(100% - 90px); */
    /* margin:120px auto 5px; */
    display:flex;
    justify-content:auto;
    align-items:center;
    gap:80px;
      ;

}
/* .hero-image{
     width:100%;
    margin:120px auto 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:80px;
} */
/* .left{
    flex:1;
}

.right{
    flex:1;
    padding: 20px;
    display: auto;
    height: calc(100% - 30px);
    justify-content:flex-end;
    max-width: 1200px;
}

.highlight{
    color:#12f7e4;
}


.line{
    width:115px;
    height:2px;
    background:#0ae9c7;
    margin:30px 0;
}
 */

