footer{

    position:absolute;
    width:100vw;
    height:100px;
    bottom:0; 
   
    /* background-color: rgb(194, 199, 206); */

}

.footer-cont{
    margin: 0 auto;
}

.variant{
    text-align: center;
    color: white; 
     display:flex;
    flex-direction:row;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
}
.row-container {
  display: flex;                  
  justify-content: space-around;  
  align-items: center;           
  background-color: #448b3e;         
  padding: 20px;
}
.footerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footerIcon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  filter: brightness(0) saturate(100%)
            invert(80%) sepia(62%)
            saturate(689%) hue-rotate(120deg)
            brightness(100%) contrast(101%);
}